.game-card-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
}

.card-container {
  height: 90%;
  width: 80%;
  z-index: 2;
  background-color: #6500b6;
  border: 4px solid black;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 25px -25px 0px black;
}

/****** Header ******/
.card-container-header {
  height: 70px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.most-popular {
  height: 65px;
  background-color: #fbd800;
  padding: 7px 14px;
  border: 3px solid black;
  border-radius: 10px;
  color: #6500b6;
  box-shadow: 5px 5px 0px #000;
  h1 {
    font-size: 30px;
    font-family: "Poppins";
  }
}

.filter {
  height: 60px;
  width: 65px;
  display: grid;
  place-items: center;
  border: 1px solid #000;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #ff05af;
  box-shadow: 5px 5px 0px #000;
  margin-left: 835px;
  cursor: pointer;
  .filter-icon {
    height: 30px;
    width: 30px;
  }
  &:active {
    transform: scale(0.95);
  }
}

/****** Main ******/
.card-container-main {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.games-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
