.landing-page-outer {
  padding: 0;
  margin: 0;
  background-color: #fbd800;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-image {
  display: flex;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}
