.loader-container {
  background-color: #fdc800;
  overflow: hidden;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.animation-window {
  width: 100%;
  height: 100%;
}
