.navbar-container {
  height: 60px;
  width: 85%;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 20px;
  z-index: 100;
}

.logo-icon {
  height: 40px;
  width: 40px;
  background-color: #ff05af;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  box-shadow: 2px 3px 0px #3a067c;
  .controller {
    height: 30px;
    width: 30px;
    color: #2ce5ff;
    z-index: 2;
  }
  .controller2 {
    position: absolute;
    height: 30px;
    width: 30px;
    color: #fbd800;
    top: 6px;
    left: 6px;
    z-index: 1;
  }
}

.navbar-data {
  display: flex;
  align-items: center;
  gap: 2rem;
  h1 {
    font-weight: 800;
  }
  .link-to {
    color: #808080;
    font-size: 16px;
    text-decoration: none;
    &:hover {
      color: #7928bf;
    }
  }
}

.end-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/****** Translate Button ******/

.language-button {
  height: 30px;
  width: 55px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 1px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.icon {
  color: #c90496;
}

.current-language {
  font-size: 14px;
}

.chevron-icons {
  height: 15px;
  width: 15px;
  color: #000;
}

.popup-modal {
  position: absolute;
  top: 60px;
  left: 94%;
  border-radius: 10px;
  background-color: #7928bf;
  border: 1px solid black;
  box-shadow: 3px 3px 0px #c90496;
  padding: 2px 0px;
}

.popup-modal-hidden {
  position: absolute;
  visibility: hidden;
}

.flag-modal {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 2px 20px;
  border-radius: 10px;
  h1 {
    font-size: 16px;
  }
  &:hover {
    background-color: #a87ff6;
  }
}
